.register{
  height: 100vh;
  background-color: rgb(255,215,0);
  display: flex;
  align-items: center;
  justify-content: center;
     .card{
       width: 50%;
       display: flex;
       flex-direction: row-reverse;
       background-color: white;
       border-radius: 10px;
       min-height: 450px;
       overflow: hidden;
       justify-content: center;
         .left{
           flex: auto;
           background: url("https://media.defense.gov/2018/Sep/06/2001962579/1920/1080/0/180904-D-IM742-2003.JPG") 
             center;
           background-size: cover;
           padding: 10px;
           display: flex;
           flex-direction: column;
           gap: 15px;
           color: white;
             
            h1{
             color : black;
             gap: 30px;
             -webkit-text-stroke: 2px blanchedalmond;
             text-shadow: 1px 1px 10px white;
             font-size: 50px;
             line-height: 50px;
             justify-content: center;
 
            }
            p{
              font-size: 24px;
              font-weight: bold;
              padding: 35px;
              color: blanchedalmond;
              -webkit-text-stroke: 1.5px black;
              text-shadow: 1px 1px 10px white;
              justify-content: center;
            }
            span{
              
             font-size: 14px;
            }
            button{
             width: 50%;
             padding: 10px;
             border: none;
             background-color:white;
             color: orange;
             font-weight: bold;
             cursor: pointer;
             
            } 
         }
         .right{
             flex: auto;  
             padding: 50px;
             
             display: flex;
             flex-direction: column;
             gap: 25px;
             justify-content: center;
             background-color: lightgray;
             h1{
             font-size: 50px;
             color:black;
             justify-content: center;
 
             }
             form{
               
               display: flex;
               flex-direction: column;
               gap: 15px;
               input{
                   
                   
               border: none;
               border-bottom: 1px solid gray;
               padding: 20px 10px;
               justify-content: center;
               }
               button{
                   
                     
                 width: 50%;
                 padding: 10px;
                 border: none;
                 background-color:black;
                 color: white;
                 font-weight: bold;
                 cursor: pointer;
                 justify-content: center;
                 }
             }
         }
     }
 }